
.row{
   margin: 10px 40px 0;
}
.row div{
    margin: 12px 0 12px;
}


.nav{
    justify-content: center;
    
}

.second-grid{
   
    width: 500px;
    height: 495px;
    margin: auto;
    border: solid 3px rgba(212, 204, 204, 0.411);
   

    
}
h5 span{
    padding: 5px;
}

h5{
   padding: 5px;
    width: 70%;
}
span{
    padding:5px ;
    width: 29%;
    text-align: end;
    
}





.div-image img{
    width: 498px;
    height: 350px;
    aspect-ratio: 1/1;
  
}

h6{
    margin-top: 5px;
}


.div-image p{
    margin-bottom: 20px;

}

